@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4 container">
        <div class="imageContainer mt-2">
            <img src="images/banner.jpg" />
        </div>
        @Body
    </div>
</div>
